.mat-toolbar-row,
.mat-toolbar-single-row {
    padding: 0px
}

.sidenav-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .header-title {
    color: black;
    cursor: pointer;
    text-decoration: none;
}
