/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
    letter-spacing: 0.2px;
}

.form-container {
    width: 100%
}

.form-row {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
}

.page-container {
    padding: 25px 16px;
}

.page-title {
    margin-bottom: 30px !important;
    font-size: 1.2rem;
    font-weight: 500;
    color: #374151;
    margin-bottom: 5px;
}

.result-message {
    margin-bottom: 30px;
    font-size: 16px;
}

.reset-button{
    color:#ff4081 !important;
    margin-right:15px
}

