/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.form-container {
    width: 100%
}

.form-row {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
}

.page-container {
    padding: 25px 16px;
}

.page-title {
    margin-bottom: 30px !important;
}

.result-message{
    margin-bottom:30px
}
// .reset-button{
//     border-radius: 10% !important;
// }

// .reset-button.mdc-fab{
//     width: 66px !important;
//     height: 40px !important;
// }